
<ul>

      <% @stars.each do |star| %>
    <li><%= star[:name] %></li>
    <li><%= star[:alive] %></li>
    <li><%= star[:born_on] %></li>
    <li><%= star[:image_url] %></li>
    <li><%= star[:embed_id] %></li>


         <% end %>





</ul>
